<!-- <div class="sidebar" data-color="danger" data-background-color="white"> -->
  <div class="sidebar-header text-center">
    <h3 class="simple-text">
      SKRN
    </h3>
  </div>
  <div class="sidebar-body">
    <ul class="nav flex-column">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link active text-center" [routerLink]="">
          <i class="material-icons">local_movies</i> 
          <p>Movies</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link text-center" [routerLink]="">
          <i class="material-icons">live_tv</i>
          <p>TV Series</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link text-center" [routerLink]="">
          <i class="material-icons">playlist_play</i>
          <p>Playlists</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link text-center" [routerLink]="">
          <i class="material-icons">local_play</i>
          <p>New Arrivals</p>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link text-center" [routerLink]="">
          <i class="material-icons">timer</i>
          <p>Coming Soon</p>
        </a>
      </li>
    </ul>
  </div>
<!-- </div> -->
