<!-- <div class="sidebar" data-color="danger" data-background-color="white"> -->
  <div class="sidebar-header">
    <h3 class="simple-text center-text">
      SKRN
    </h3>
  </div>
  <div class="sidebar-body">
    <ul class="nav flex-column">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link active" [routerLink]="">
          <i class="material-icons">local_movies</i> Movies
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="">
          <i class="material-icons">live_tv</i> TV Series
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="">
          <i class="material-icons">playlist_play</i> Playlists
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="">
          <i class="material-icons">local_play</i> New Arrivals
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="">
          <i class="material-icons">timer</i> Coming Soon
        </a>
      </li>
    </ul>
  </div>
<!-- </div> -->
